﻿<tr>
    <td align="left">//TestsuiteName</td>
    <td><center>//TotalTestcase</center></td>
    <td><center><font color="green">//AllPass</center></font></td>
    <td><center><font color="red">//AllFail</center></font></td>
    <td><center>//ExecuteDate</center></td>
</tr>
